body {
   background-color: whitesmoke;
}
.navbar {
   align-content: justify;
	margin: 10px 15px;
	padding: 20px;
}
.nav-anchor {
	padding: 10px;
	text-decoration: none;
	color: black;
	background-color: whitesmoke;
	border-radius: 10px;
	border: white;
}
.nav-anchor:hover {
	background-color: #3dfc03;
	color: white;
	transition: ease-in-out 1s;
	-webkit-transition: ease-in-out 1s;
	-moz-transition: ease-in-out 1s;
	-ms-transition: ease-in-out 1s;
	-o-transition: ease-in-out 1s;
}
.first-h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	padding: 30px
   font-size: 30px;
}
.h2-elements{
   text-align: center;
   font-family: 'Roboto', sans-serif;
   padding: 30px
   font-size: 30px;
}
.paragraph{
   text-align: center;
   font-family: 'Roboto', sans-serif;
   padding: 30px;
   font-size: 24px;
}
.images{
   margin: 30px;
   justify-content: space-between;
   align-items: left;
   max-width: 320px;
   border: 4px solid whitesmoke;
   border-radius: 60px;
   padding: 40px;
   float: left;
}
.main-service{
   width: 90%;
   height: 1050px;
   margin: 0 auto;
   border: 4px solid white !important;
   justify-content: space-between;
   display: flex;
   flex-wrap: wrap;
   border-radius: 10px;
}

.service-container{
   text-align: center !important ;
   width: 30%;
   height: 500px;
   border: 4px solid rgb(222, 216, 216);
   border-radius: 10px;
   background-color: white !important;
   flex-flow: column;
}
.submit-button{
   text-align: center;
   width: 50%;
   height: 50px;
   border: 2px solid whitesmoke;
   border-radius: 10px;
   background-color: #b7c9bc;
   color: white;
}
.anchor{
   text-decoration: none;
   color: #000;
   padding: 15px 10px;
}
.submit-button:hover{
   background-color: #3dfc03;
   color: white;
   transition: ease-in-out 1s;
   -webkit-transition: ease-in-out 1s;
   -moz-transition: ease-in-out 1s;
   -ms-transition: ease-in-out 1s;
   -o-transition: ease-in-out 1s;
}
p{
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
}
.container{
   margin: 10px auto;
   width: 90%;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 400px;
   background:white;
   border: 4px solid whitesmoke;
   border-radius: 20px;
}
img{
   max-width: 320px;
   float: left;
   margin-right: 15px;
   border: 2px solid white;
   border-radius: 10px;
}
img:hover {
   transform: scale(1.1);
   transition: ease-in-out 1s ;
   -webkit-transition: ease-in-out 1s ;
   -moz-transition: ease-in-out 1s ;
   -ms-transition: ease-in-out 1s ;
   -o-transition: ease-in-out 1s ;

}
p{
   font-family: 'Roboto', sans-serif;
   font-size: 1.45em;
}
h3{
   text-align: center;
}
input[type=text], select, textarea {
   width: 100%; 
   padding: 20px; 
   border: 1px solid #ccc;
   border-radius: 4px; 
   box-sizing: border-box; 
   margin-top: 6px; 
   margin-bottom: 16px; 
   resize:horizontal;
 }
input[type=number], select, textarea {
   width: 100%; 
   padding: 20px; 
   border: 1px solid #ccc;
   border-radius: 4px; 
   box-sizing: border-box; 
   margin-top: 6px; 
   margin-bottom: 16px; 
   resize:horizontal;
 }
input[type=email], select, textarea {
   width: 100%; 
   padding: 20px; 
   border: 1px solid #ccc;
   border-radius: 4px; 
   box-sizing: border-box; 
   margin-top: 6px; 
   margin-bottom: 16px; 
   resize:horizontal;
 }
 

 input[type=submit] {
   background-color: #ed0d18;
   color: white;
   padding: 12px 20px;
   align-items: center;
   justify-content: center;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }
 
 /* When moving the mouse over the submit button, add a darker green color */
 input[type=submit]:hover {
   background-color: #45a049;
 }
 .submit {
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px;
 }
 footer{
   text-align: center;
   background-color: #f2f2f2;
   padding: 20px;
 }