* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: #000;
	background: #e0ded9b1;
}
.header {
	background: rgba(247, 242, 242, 0.802);
	padding: 20px 10%;
	top: 0;
	left: 0;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	z-index: 100;
	display: flex;
   box-sizing: border-box;
   transition: slideLeft 0.3s ease forwards;
}
.logo {
	position: relative;
	text-decoration: none;
	font-size: 25px;
	font-weight: 600px;
	color: #020202;
	cursor: default;
	opacity: o;
	animation: slideRight 1s ease forwards;
}
.navbar a {
	display: inline-block;
	font-size: 25px;
	text-decoration: none;
	margin-left: 35px;
	color: #020202;
	font-weight: 500px;
	transition: 0.3s;
	opacity: ;
	animation: slideTop 0.5s ease forwards;
	animation-delay: 0.2s;

}
.navbar a:hover {
	color: #28ebee;
}
a{
   text-decoration: none;
}
h3{
   margin-bottom: 10px;
   text-align: center;
}

.first-h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	padding: 30px
   font-size: 30px;
   margin: 90px 0 0 0;
}
.h2-elements{
   text-align: center;
   font-family: 'Roboto', sans-serif;
   padding: 30px
   font-size: 30px;
}
.paragraph{
   text-align: center;
   font-family: 'Roboto', sans-serif;
   padding: 30px;
   font-size: 24px;
}
.images{
   margin: 30px;
   justify-content: space-between;
   align-items: left;
   max-width: 320px;
   border: 2px solid whitesmoke;
   border-radius: 60px;
   padding: 40px;
   float: left;
}
.main-service{
   width: 90%;
   height: 1050px;
   margin: 0 auto;
   border: 2px solid white !important;
   justify-content: space-between;
   display: flex;
   flex-wrap: wrap;
   border-radius: 10px;
}

.service-container{
   text-align: center !important ;
   width: 30%;
   height: 450px;
   border: 2px solid rgb(222, 216, 216);
   border-radius: 10px;
   background-color: white !important;
   flex-flow: column;
}
.container{
   margin: 10px auto;
   width: 90%;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 400px;
   background:white;
   border: 4px solid whitesmoke;
   border-radius: 20px;
}
img{
   max-width: 320px;
   float: left;
   margin-right: 15px;
   border: 2px solid white;
   border-radius: 10px;
}
img:hover {
   transform: scale(1.1);
   transition: ease-in-out 1s ;
   -webkit-transition: ease-in-out 1s ;
   -moz-transition: ease-in-out 1s ;
   -ms-transition: ease-in-out 1s ;
   -o-transition: ease-in-out 1s ;
}
.paragraph1{
   font-family: 'Roboto', sans-serif;
   font-size: 30px;
   text-align: left;
}
.paragraph2{
   font-size: 20px;
   text-align: center;
   margin-top: 45px;
}
input[type=text], select, textarea {
   width: 100%; 
   padding: 20px; 
   border: 1px solid #ccc;
   border-radius: 4px; 
   box-sizing: border-box; 
   margin-top: 6px; 
   margin-bottom: 16px; 
   resize:horizontal;
 }
input[type=number], select, textarea {
   width: 100%; 
   padding: 20px; 
   border: 1px solid #ccc;
   border-radius: 4px; 
   box-sizing: border-box; 
   margin-top: 6px; 
   margin-bottom: 16px; 
   resize:horizontal;
 }
input[type=email], select, textarea {
   width: 100%; 
   padding: 20px; 
   border: 1px solid #ccc;
   border-radius: 4px; 
   box-sizing: border-box; 
   margin-top: 6px; 
   margin-bottom: 16px; 
   resize:horizontal;
 }
 

 input[type=submit] {
   background-color: #ed0d18;
   color: white;
   padding: 12px 20px;
   align-items: center;
   justify-content: center;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }
 
 input[type=submit]:hover {
   background-color: #45a049;
 }
 .submit {
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px;
 }
 footer{
   text-align: center;
   background-color: #f2f2f2;
   padding: 20px;
 }
 p{
   font-family: 'Roboto', sans-serif;
   padding: 30px
   font-size: 1.14rem;
 }
 h3{
   margin-top: 10px;
 }

 .btn-box {
	display: inline-block;
	padding: 12px 28px;
	background: #28ebee;
	border-radius: 40px;
	font-size: 16px;
	letter-spacing: 1px;
   margin-top: 20px;
	font-weight: 600;
	color: darkgreen;
	text-decoration: none;
	opacity: 0;
	animation-delay: 2s;
	animation: slideBottom 0.2s ease forwards;
	box-shadow: 0 0 5px;
}
.btn-box:hover {
	box-shadow: 0 0 2px burlywood, 0 0 4px burlywood, 0 0 8px burlywood,
		0 0 16px burlywood, 0 0 32px burlywood;
}

@keyframes slideBottom{
   from{
      opacity: 0;
      transform: translateY(100px);
      color: #28ebee;
      text-decoration: none;
   }
   to{
      opacity: 1;
      transform: translateY(0px);
      color: darkgreen;
      text-decoration: none;
   }
}
@keyframes slideLeft{
   from{
      transform: translateX(100px);
      color: #010202;
      text-decoration: none;
   }
   to{
      transform: translateX(-100px);
      color: darkgreen;
      text-decoration: none;
   }
}